In [127]:
import math
import numpy as np
import pandas as pd
import datetime as dt
import scipy.stats as stats
import matplotlib.pyplot as plt
from pandas_datareader import  data as pdr
import yfinance as yf

In [128]:
# Option parameters
K = 98.01           # Strike price(where we can either buy or sell incaase of a call option
r = 0.015           # Risk-free rate (%)(return on an investment with  zero risk of financial loss

In [129]:

# Fetch historical price data from Yahoo Finance
ticker = 'AAPL'
start_date = '2022-01-17'  # Start date which wil act as a reference date
end_date = '2022-03-17'    # End date is the expiration date of the option
data = yf.download(ticker, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [130]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-18,171.509995,172.539993,169.410004,169.800003,167.667892,90956700
2022-01-19,170.000000,171.080002,165.940002,166.229996,164.142700,94815000
2022-01-20,166.979996,169.679993,164.179993,164.509995,162.444275,91420500
2022-01-21,164.419998,166.330002,162.300003,162.410004,160.370667,122848900
2022-01-24,160.020004,162.300003,154.699997,161.619995,159.590591,162294600
2022-01-25,158.979996,162.759995,157.020004,159.779999,157.773712,115798400
2022-01-26,163.500000,164.389999,157.820007,159.690002,157.684814,108275300
2022-01-27,162.449997,163.839996,158.279999,159.220001,157.220718,121954600
2022-01-28,165.710007,170.350006,162.800003,170.330002,168.191208,179935700
2022-01-31,170.160004,175.000000,169.509995,174.779999,172.585327,115541600
2022-02-01,174.009995,174.839996,172.309998,174.610001,172.417480,86213900
2022-02-02,174.750000,175.880005,173.330002,175.839996,173.632034,84914300
2022-02-03,174.479996,176.240005,172.119995,172.899994,170.728928,89418100
2022-02-04,171.679993,174.100006,170.679993,172.389999,170.442245,82465400
2022-02-07,172.860001,173.949997,170.949997,171.660004,169.720474,77251200
2022-02-08,171.729996,175.350006,171.429993,174.830002,172.854675,74829200
2022-02-09,176.050003,176.649994,174.899994,176.279999,174.288254,71285000
2022-02-10,174.139999,175.479996,171.550003,172.119995,170.175293,90865900
2022-02-11,172.330002,173.080002,168.039993,168.639999,166.734604,98670700
2022-02-14,167.369995,169.580002,166.559998,168.880005,166.971909,86185500
2022-02-15,170.970001,172.949997,170.250000,172.789993,170.837708,62527400
2022-02-16,171.850006,173.339996,170.050003,172.550003,170.600418,61177400
2022-02-17,171.029999,171.910004,168.470001,168.880005,166.971909,69589300
2022-02-18,169.820007,170.539993,166.190002,167.300003,165.409760,82772700
2022-02-22,164.979996,166.690002,162.149994,164.320007,162.463425,91162800
2022-02-23,165.539993,166.149994,159.750000,160.070007,158.261444,90009200
2022-02-24,152.580002,162.850006,152.000000,162.740005,160.901291,141147500
2022-02-25,163.839996,165.119995,160.869995,164.850006,162.987442,91974200
2022-02-28,163.059998,165.419998,162.429993,165.119995,163.254349,95056600
2022-03-01,164.699997,166.600006,161.970001,163.199997,161.356064,83474400
2022-03-02,164.389999,167.360001,162.949997,166.559998,164.678116,79724800
2022-03-03,168.470001,168.910004,165.550003,166.229996,164.351837,76678400
2022-03-04,164.490005,165.550003,162.100006,163.169998,161.326385,83737200
2022-03-07,163.360001,165.020004,159.039993,159.300003,157.500137,96418800
2022-03-08,158.820007,162.880005,155.800003,157.440002,155.661133,131148300
2022-03-09,161.479996,163.410004,159.410004,162.949997,161.108871,91454900
2022-03-10,160.199997,160.389999,155.979996,158.520004,156.728973,105342000
2022-03-11,158.929993,159.279999,154.500000,154.729996,152.981766,96970100
2022-03-14,151.449997,154.119995,150.100006,150.619995,148.918213,108732100
2022-03-15,150.899994,155.570007,150.380005,155.089996,153.337692,92964300
2022-03-16,157.050003,160.000000,154.460007,159.589996,157.786850,102300200

In [131]:
# Use the last available adjusted closing price as the stock price
S = data['Adj Close'].iloc[-1] 
S

157.78684997558594

In [132]:

# Calculate time to expiration (T)
expiration_date = dt.datetime.strptime(end_date, '%Y-%m-%d').date()
reference_date = dt.datetime.strptime(start_date, '%Y-%m-%d').date()
T = (expiration_date - reference_date).days / 365  # Time to expiration (in years)

In [133]:
T

0.16164383561643836

In [134]:
# Volatility calculation
vol = np.std(data['Adj Close'].pct_change()) * np.sqrt(252)  # Annualized historical volatility (%)

In [135]:
vol

0.32883165723629204

In [143]:
# Monte Carlo simulation parameters

N = 10  # Number of time steps
M = 1000  # Number of simulations

In [144]:
# Define function to calculate delta of an option
def delta_calc(S, K, T, r, sigma, option_type='c'):
     # Calculate delta of an option using the Black-Scholes formula.
    
    # d1 => represents the standardized measure of how many standard deviations the current stock price is from the strike price
    d1 = (np.log(S / K) + (r + sigma**2 / 2) * T) / (sigma * np.sqrt(T))
    if option_type == 'c':
        return stats.norm.cdf(d1, 0, 1)
    elif option_type == 'p':
        return -stats.norm.cdf(-d1, 0, 1)
    else:
        raise ValueError("Invalid option type. Use 'c' for Call or 'p' for Put.")

In [145]:
# Define function to calculate Black-Scholes call option price
def black_scholes_call_price(S, K, T, r, sigma):
    # Calculate the price of a European call option using the Black-Scholes formula.
    
    d1 = (np.log(S / K) + (r + sigma**2 / 2) * T) / (sigma * np.sqrt(T))
    # d2 =>  represents a standardized measure of how many sd the current stock price is from the strike price when adjusted for time and volatility.
    d2 = d1 - sigma * np.sqrt(T)
    return S * stats.norm.cdf(d1) - K * np.exp(-r * T) * stats.norm.cdf(d2)

In [146]:
#  constants for Monte Carlo simulation
dt = T / N   
nudt = (r - 0.5 * vol**2) * dt
volsdt = vol * np.sqrt(dt)
erdt = np.exp(r * dt)

In [147]:
# Monte Carlo simulation
Z = np.random.normal(size=(N, M))
delta_St = nudt + volsdt * Z  #am geting the changes in the asset price at each time step.
ST = S * np.cumprod(np.exp(delta_St), axis=0)

In [148]:
ST

array([[150.43740894, 167.97927632, 158.54399016, ..., 167.44821307,
        163.87822867, 156.95842469],
       [144.70361873, 166.25016022, 164.83029849, ..., 178.21799288,
        162.11773218, 152.06915716],
       [143.59940865, 178.0599484 , 158.68103289, ..., 167.53783355,
        173.50220001, 144.18614893],
       ...,
       [151.23601881, 152.11729056, 149.67611474, ..., 139.6243192 ,
        171.56717064, 124.16521025],
       [158.33225488, 157.30236394, 164.46323607, ..., 132.0604012 ,
        179.1871636 , 114.92429953],
       [161.2079974 , 151.95925373, 167.80799716, ..., 132.64314008,
        180.23883999, 108.31765368]])

### Note

1. The array ST represents the asset price trajectories over time .
2. Each row of the array corresponds to a specific time step whereas   each column represents a different simulation or path.

In [149]:
# Calculate differences in asset prices and refining the shape to be good

price_differences = (ST[1:] - ST[:-1] * erdt)
price_differences = np.vstack([np.zeros((1, M)), price_differences])

# Correcting the shape mismatch
cv = np.cumsum(deltaSt * price_differences, axis=0)

### Note

CV contains the cumulative values of the option's payoff changes over time for each simulation

In [150]:
price_differences.ndim

2

In [151]:
price_differences

array([[  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [ -5.77027055,  -1.76985026,   6.24786218, ...,  10.72917443,
         -1.80023616,  -4.92732918],
       [ -1.13930001,  11.76947332,  -6.18923615, ..., -10.72337633,
         11.34515507,  -7.91988426],
       ...,
       [  5.66610666,  -3.13776776,  -0.82430994, ..., -10.57556285,
          2.24125601,   7.7730243 ],
       [  7.05956207,   5.14818568,  14.7508256 , ...,  -7.59777622,
          7.57838876,  -9.27102018],
       [  2.83734772,  -5.38125527,   3.30487956, ...,   0.55071487,
          1.00822437,  -6.63451444]])

In [152]:
cv.ndim

2

In [153]:
print(cv)

[[ 0.00000000e+00  0.00000000e+00  0.00000000e+00 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [-5.77001402e+00 -1.76950735e+00  6.24727709e+00 ...  1.07259047e+01
  -1.80022650e+00 -4.92708359e+00]
 [-6.90927297e+00  9.99986530e+00  5.83687448e-02 ...  5.58015921e-03
   9.54491091e+00 -1.28467581e+01]
 ...
 [ 5.52794543e-01 -1.61368536e+01 -9.13186847e+00 ... -2.81148128e+01
   7.39824649e+00 -3.30149030e+01]
 [ 7.61235661e+00 -1.09886679e+01  5.61895713e+00 ... -3.57125890e+01
   1.49766352e+01 -4.22859231e+01]
 [ 1.04497043e+01 -1.63699232e+01  8.92383668e+00 ... -3.51618741e+01
   1.59848596e+01 -4.89204376e+01]]

In [154]:
# Option pricing
CT = np.maximum(0, ST[-1] - K)  #calculates the payoff of the call option.
C0 = np.exp(-r * T) * np.mean(CT)
SE = np.std(np.exp(-r * T) * CT) / np.sqrt(M)

In [155]:
# Output results
print("Stock price (S): ${:.2f}".format(S))
print("Strike price (K): ${:.2f}".format(K))
print("Volatility (vol): {:.4f}".format(vol))
print("Risk-free rate (r): {:.4f}".format(r))
print("Time to expiration (T): {:.4f} years".format(T))

print("-------------------------------------")
print("Call option price: ${:.2f} +/- {:.4f}".format(C0, SE))

Stock price (S): $157.79
Strike price (K): $98.01
Volatility (vol): 0.3288
Risk-free rate (r): 0.0150
Time to expiration (T): 0.1616 years
-------------------------------------
Call option price: $59.35 +/- 0.6649

In [ ]:
# Stock price (S): $157.79
# Strike price (K): $98.01
# Volatility (vol): 0.3288
# Risk-free rate (r): 0.0150
# Time to expiration (T): 0.1616 years
# -------------------------------------
# Call option price: $59.97 +/- 0.6530